
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basket</title>
</head>
<body>
    @ViewData["mesaj"]

    <div>
        <a asp-action="UserBasket" asp-route-CustomerId="@TempData["UserID"]">Sepete Git</a>

    </div>

    <div>
        <input type="button" value="Ürün Listesine Dön" onclick="location.href='@Url.Action("ProductList", "Home")'" />
    </div>

    <div>
        <input type="button" value="Ana Sayfaya Dön" onclick="location.href='@Url.Action("MainPage", "Home")'" />
    </div>
</body>
</html>
