
@{
    Layout = null;
}
@model IEnumerable<EMARKET_MVC.Models.Basket>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BasketReport</title>
</head>
<body>
    <h1>Sepet raporu</h1>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Sepet numarası</th>
                <th>Müşteri Numarası</th>
                <th>Ürün Kodu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Basket B in Model)
            {
                <tr>

                    <td>@B.BasketId</td>
                    <td>@B.CustomerId</td>
                    <td>@B.ProductId</td>

                </tr>

            }
        </tbody>
    </table>

    <div>
        <input type="button" value="Ana Sayfaya Dön" onclick="location.href='@Url.Action("MainPage", "Home")'" />
    </div>
</body>
</html>
